{% extends "base.html" %}

{% block title %}Edit Recipe{% endblock title %}

{% block body %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input value="{{recipe.title}}" type="text" name="title" class="form-control" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Procedure</label>
            <textarea name="procedure" class="form-control">{{recipe.procedure}}</textarea>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Ingredients</label>
            <textarea  name="ingredients"class="form-control">{{recipe.ingredients}}</textarea>
          </div>

          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" >Category</label>
              <select class="form-select" aria-label="Default select example" name="category_id">
                  {% for category in categories %}
                  <option value={{category.pk}}>{{category}}</option>
  
                  {% endfor %}
                </select>
            </div>
  
          <button type="submit" class="btn btn-primary">Add Recipe</button>
        </form>

        {% else %}
        <div class="alert alert-danger" role="alert">
            please login first
          </div>
        {% endif %}
        

</div>

{% endblock body %}